<<<<<<< HEAD
.sliderwrapper{
position: relative; /*leave as is*/
width: 220px;
border-bottom-width: 6px;
}

.sliderwrapper .contentdiv{
width:211px;
position: relative; /*leave as is*/
left: 0;  /*leave as is*/
top: 0;  /*leave as is*/
padding: 5px;
background: white;
height: 95%;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
font-size: .8em;
}

.paging{
margin-top: 10px;
text-align: center;
font-weight: bold;
}

.paging a{
padding: 0 5px;
text-decoration: none; 
color: #00007D;
background: #eeeeee;
}

.paging a:hover, .paging a.selected{
color: #000;
background-color: #FEc496;
}

=======
.sliderwrapper{
position: relative; /*leave as is*/
width: 220px;
border-bottom-width: 6px;
}

.sliderwrapper .contentdiv{
width:211px;
position: relative; /*leave as is*/
left: 0;  /*leave as is*/
top: 0;  /*leave as is*/
padding: 5px;
background: white;
height: 95%;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
font-size: .8em;
}

.paging{
margin-top: 10px;
text-align: center;
font-weight: bold;
}

.paging a{
padding: 0 5px;
text-decoration: none; 
color: #00007D;
background: #eeeeee;
}

.paging a:hover, .paging a.selected{
color: #000;
background-color: #FEc496;
}

>>>>>>> a40cdef3e9aeab6e774678649268ed06341ef88c
.contentdiv img {margin-bottom: -10px; margin-top: 4px;}