/* Using CSS3 Dropdown menu from http://designmodo.com/css3-dropdown-menu/   16 Oct 2014*/
.menu {	clear:both;	}
.menu, .menu ul, .menu li, .menu a {
    margin: 0;

    padding: 0;
    border: none;
    outline: none;  
	z-index: 100;  /* Needed to put this in front of slideshow  */

}
 
.menu {
    height: 27px;
    width: 100%;
z-index: 33;
     background: #4c4e5a;
    background: -webkit-linear-gradient(top,  #262626 0%,#6a6a6a 100%);
    background: -moz-linear-gradient(top, #2c2e3a 0%,#6a6a6a 100%);
    background: -o-linear-gradient(top,  #262626 0%,#6a6a6a 100%);
    background: -ms-linear-gradient(top,  #262626 0%,#6a6a6a 100%);
    background: linear-gradient(top,  #262626 0%,#6a6a6a 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
 
.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
}

.menu li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 19px;
    text-decoration: none;
     border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
     font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
     color: #f1fccc;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
 
    -webkit-transition: color .1s ease-in-out;
    -moz-transition: color .1s ease-in-out;
    -o-transition: color .1s ease-in-out;
    -ms-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
}

.menu ul {
    position: absolute;
    top: 27px;
    left: 0;
 
    opacity: 0;
    background: #555555;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
 
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}
 
.menu li:hover > ul { opacity: 1; }
 
.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
 
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
 
.menu li:hover > ul li {
    height: 29px;
    overflow: visible;
    padding: 0;
}
.menu ul li a {
    width: 90px;
    padding: 4px 0 4px 40px;
    margin: 0;
    font-size: .85em;
     border: none;
    border-bottom: 1px solid #aaaaaa;
}
 
.menu a.documents { background: url(images/topmenu-ga.gif) no-repeat 6px center; }
.menu a.messages { background: url(images/topmenu-nc.gif) no-repeat 6px center; }
.menu a.signout { background: url(images/topmenu-sc.gif) no-repeat 6px center; }


.menu ul li:last-child a { border: none; }

.menu li:first-child a { border-left: none; }
.menu li:last-child a{ border-right: none; }
 
.menu li:hover > a { color: #8fde62; }