@charset "utf-8";
/* CSS Document */

<style>
  body {
      font-family: Arial, sans-serif !important;
      color: #818181;
  }
  span{
	   font-family: Arial, sans-serif;
  }
  /* text */
  p {
	  
    font-family: Arial, sans-serif;
    font-size: 12pt;
    color: #000;
  }
  blockquote {
  border-left: 4px solid #4a778a;
  background-color: #f1f1f1;
  }
  .bluetext {
     color: #4a778a;
     padding-top:3px;
  }
  .studylead {
  font-family: 'Oxygen', arial;
  font-size: 12pt;
  }
.studyintro {
  border-right: 1px solid #d8e2e4;
}
.figcap {
  padding-top: 3px;
  font-size: 10pt;
  font-style: italic;
}

  /* headings */
  h1 {
	  font-family: 'Oswald', arial, sans-serif;
	  font-size: 36pt;
	  line-height: 1.5em;
	  color: #533c11;
	  margin-top: 0;
	  margin-bottom: 0;
	  margin-left: 0px;
    font-weight: 700;
    padding-top: 12px;
	  
  }
  h2 {
	  font-family: 'Oswald', Arial, sans-serif;
      font-size: 22pt;
      color: /*#7a972b*/#af5505;
	  line-height: 1.5em;
    margin-bottom: 0;
	  padding-bottom: 6px;
    font-weight: 700;
  }
  h3 {
      font-family: 'Open Sans Condensed', Arial, sans-serif;
	  font-size: 16pt;
      
      color: #696041;
    padding-top: 0px;
    padding-bottom: 6px;
	  margin-top: 0;
    margin-bottom:0;
    font-weight: 700;
      
  }
  h4 {
      font-family: 'Oswald', Arial, sans-serif;
	     font-size: 14pt;
      line-height: 1.2em;
      color: #7a972b;
      margin-bottom: 0;
	  margin-top: 0;
    font-weight: 700;
  }
 h5 {
      font-family: 'Open Sans Condensed', Arial, sans-serif;
	  font-size: 14pt;
      line-height: 1em;
      color: #2a707a;
      margin-bottom: 0;
	  margin-top: 0;
     font-weight: 700;
     padding-bottom: 3px;
     
  } 

/* links */
a:link {
    font-family: 'Oxygen', arial, sans-serif;
    font-size: 12pt;
    color: #c35e05;
    text-decoration: none;
}
a:visited {
    font-family: 'Oxygen', arial, sans-serif;
     font-size: 12pt;
    color: #6f773c;
    text-decoration: none;
}
a:hover {
    font-family: 'Oxygen', arial, sans-serif;
     font-size: 12pt;
    color: #6f773c;
    text-decoration: underline;
}
/* lists */
ul > li {
    padding-top: 3px;
    font-family: Arial, sans-serif;
    font-size: 12pt;
  }
  
  ol > li {
    padding-top: 3px;
    font-family: Arial, sans-serif;
    font-size: 12pt;
}
/* navigation 

@media (min-width: 768px) { 
.nav  > li > a {
   color: #06334a;
   border-color: #434344 !important;
   background-color: #ebb763 !important;
   font-family: 'Oxygen', arial, sans-serif;
   font-size: 11pt;
   
}
.nav > li > a:hover {
  color: #06334a;
  background-color: #ffcc3f !important;
}

.nav > .active > a,
.nav > .active > a:focus {
  color: #06334a !important;
  background-color: #fadfb2 !important;
  font-size: 11pt;
 
}
}*/
@media (min-width: 768px) { 
.nav  > li > a {
   color: #fff;
   border-color: #7c7353 !important;
   background-color: #6f773c !important;
   font-family: 'Oxygen', arial, sans-serif;
   font-size: 11pt;
   
}
.nav > li > a:hover {
  color: #fff;
  background-color: #9c701f !important;
}

.nav > .active > a,
.nav > .active > a:focus {
  color: #fff !important;
  background-color: #d5b97c !important;
  font-size: 11pt;
 
}
}
@media (max-width: 767px) { 
    .nav-tabs > li {
        float:none;
        border:1px solid #dddddd;
    }
    .nav-tabs > li.active > a{
        border:none;
    }
    .nav > li > a:hover, .nav > li > a:focus,
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
     {
        background:none;
        border:none;
    }
}

.gridspace{
    
    padding-bottom: 15px;
}
.offwhite {
    background: rgba(218,181,100,0.15);
    border-top: solid 1px #d2d0d0;
    border-bottom: solid 1px #d2d0d0;
}

  .shrinkme {
	  margin: 0;
	  padding: 0;
  }
  .shrinkmeleft {
    margin-left: 0;
    padding-left: 0;
  }
  .spacemetop {
    margin-top: 20px;
  }
  .spacemeleft {
    padding-left: 3px;
  }
  .spacemebottom {
    margin-bottom: 10px;
  }
  .nobottom {
  	padding-bottom: 0;
  	margin-bottom: 0;
  }
  .map {
    height: 100%;
    width: 100%;
    min-height: 800px;
    min-width: 600px;
  }
  /* panels */
@media (min-width: 1197px) { 
  .paneltext {
    font-family: 'Oxygen', arial, sans-serif;
    font-size: 10pt;
    padding-top: 6px;
    height:160px;
    
  }
  
  .bluebutton {
    background-color: #82a6b6; 
    color: #fff !important;
    font-size: 10pt !important; 
  }

  .shrinkpanel {
    padding-left: 4px;
    padding-right: 4px;
  }
} 
@media (min-width: 975px) and (max-width: 1196px ) { 
  .paneltext {
    font-family: 'Oxygen', arial, sans-serif;
    font-size: 10pt;
    padding-top: 6px;
    height:190px;
    
  }
  .panel-heading{
    min-height:70px;
  }
  .bluebutton {
    background-color: #82a6b6; 
    color: #fff !important;
    font-size: 10pt !important; 
  }

  .shrinkpanel {
    padding-left: 4px;
    padding-right: 4px;
  }
} 
  @media (max-width: 974px) { 
  .paneltext {
    font-family: 'Oxygen', arial, sans-serif;
    font-size: 10pt;
    padding-top: 6px;

    
    
  }
  .bluebutton {
    background-color: #82a6b6; 
    color: #fff !important;
    font-size: 10pt !important; 
  }

  .shrinkpanel {
    padding-left: 4px;
    padding-right: 4px;
  }

} 
.well {
  margin: 0 auto;
}

.center {
  margin: 0 auto;
  padding: 0;
}

.paddingright {
	padding-right: 10px;
}


/* tables */
.yellowcell {
  background-color: #fcf2ca;
}
.greenbigtext {
  font-size: 12pt;
  color: #6f773c;
  font-weight: 700;
}
.timelinetable td {
	font-family: arial, sans-serif;
	font-size: 12pt;
}
/* ===STANDARD HEADER===*/

#usgscolorband {
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 5.14em;
    min-height: 72px;
}
#usgsbanner {
    width: 100%;
    height: 72px;   
}
#usgsidentifier {
    height: 58px;
    float: left;
}
#usgsidentifier img {
    border: none;
}
#usgs.navbar-default
{
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    border:none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    padding-top: 10px;
    background-color: #7c7353;
}


/* ===STANDARD FOOTER===*/
.bluefooter {
  background-color: #7c7353 !important;
  padding-top: 10px;
  }
.usgsfooter {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    clear: both;
    width:100%;
    color: #fff;

}

#usgsfooter a:link, #usgsfooter a:visited {
   
    color: #ffffff;
    text-decoration: none;
    font-size: 10pt;
}
#usgsfooter a:hover {
    
    color: #ffffff;
    text-decoration: underline;
    font-size: 10pt;
}
#usgsfooter a:active {
    
    color: #ffffff;
    text-decoration: none;
    font-size: 10pt;
}
.usgsfootertext {
    padding:0;
    margin: 0;
    font-size: 10pt;
    color: #fff;
}
.firstlinefooter {
    padding-right: 20px;
   
}
.wrap-this {
	display:flex;
	padding:50px;
}

.single { /** ready to mingle **/
	margin-left:75px;
}
.prop{
	margin-left:75px;
	
}
.small-image img{
	height:230px;
	cursor:pointer;
	
}
.prop img{
	width:340px;
	height:251px;
	cursor:pointer;
}
#the-image{
	
	padding-right:50px;
}

